* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    max-height: 100%;

}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-family: sans-serif;
    line-height: 23px;
    background-color: rgb(242, 241, 241);
}

.cabecalho {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(91, 168, 168);
    height: 12%;
}

.cabecalho-icones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 35px;

}

.cabecalho-icones > div {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: space-between;
    width: 10%;
    margin-right: 14%;
}

.cabecalho-icones > div > a {
    color: white;

}

.cabecalho-icones > div > a:hover {
    opacity: 0.5;
  }
  
  .active {
    opacity: 0.5;;
  }

footer {
    background-color: #4c4c48;
    height: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

.secao-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.secao-principal-cabecalho {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    margin: 10px;
    width: 100%;
    flex-direction: column;
}

.secao-principal-cabecalho>h1 {
    margin-bottom: 15px;
    margin-top: 7px;
    font-size: 44px;
    color: rgb(91, 168, 168);
    text-align: center;

}

.secao-principal-cabecalho>label {
    padding-right: 10%;
    padding-left: 10%;
    margin: 0;
    text-align: center;
}

.botao-padrao {
    text-align: center;
    border-radius: 4px;
    border: solid 1px;
    color: white;
    background-color: rgb(91, 168, 168);
}

.botao-padrao:hover {
    background-color: white;
    color: rgb(91, 168, 168);
}

@media (min-width: 768px) {

    html,
    body {
        height: 100%;
    }
}





