.secao-principal-conteudo {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    margin: 0;
    padding-left: 10%;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);

}
h1 {
    position: relative;
    top: 25px;
}

h2 {
    margin-bottom: 10px;
}


section>p {
    margin-top: 1px;
    margin-bottom: 10px;
}

.secao-principal-conteudo>section {
    width: 100%;
    min-width: 200px;
    max-height: 355px;
    padding: 20px;
    margin-top: 50px;
    
}

.botao-contate-me {
    height: 50px;
    width: 140px;
    padding: 10px 20px;

}

.card-azul {
    background: rgb(91, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.card-azul-imagem {
    position: relative;
    top: -118px;
    z-index: 1;
    border-radius: 50%;
}

.card-azul-conteudo {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    top: -110px;
}

.card-azul-conteudo > p {
    margin-bottom: 15px;   
}

@media (max-width:768px) {
    .secao-principal-conteudo {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .secao-principal-cabecalho {
        padding-bottom: 50px;
    }

    .card-azul {
        margin-top: 100px;
        margin-bottom: 50px;

    }
    .construcao {
        width: 100%;
        height: 60px;
    }

    html {
        height: 100%;
    }
}
