.secao-principal-conteudo {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    margin: 0;
    padding-left: 10%;
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    align-items: center;
}

@media (min-width:768px) {
    h1 {
        position: relative;
        top: 25px;
    }
}

h2 {
    margin-bottom: 10px;
}

section>p {
    margin-top: 1px;
    margin-bottom: 10px;
}

.secao-principal-conteudo>section {
    width: 100%;
    min-width: 200px;
    max-height: 70%;
    height: 60%;
    padding: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.botao-contate-me {
    height: 50px;
    width: 140px;
    padding: 10px 20px;
}

.secao-principal-conteudo>section:last-child {
    background: rgb(91, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 40px;
}

.card-azul-imagem {
    position: relative;
    top: -118px;
    z-index: 1;
    border-radius: 50%;
}

.card-azul-conteudo {
    text-align: center;
    color: white;
    position: relative;
    z-index: 1;
    top: -110px;
}

.card-azul-conteudo > p {
    margin-bottom: 15px;   
}

@media (max-width:768px) {
    .secao-principal-conteudo {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: center;
    }

    .secao-principal-conteudo>section {
        max-height: 30%;
        height: 30%;
        margin-top: 25px; 
        margin-bottom: 25px; 
    }

    .secao-principal-conteudo>section:last-child {
        margin-top: 40px;
        height: 80%;
        max-height: 80%;
        margin-bottom: 40px;
    }

    .card-azul-imagem {
        top: -60px;
        z-index: 1;
    }
    
    .card-azul-conteudo {
        z-index: 1;
        top: -50px;
    }
}
